<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.javaboy.text.mapper.ProductMapper">
    <!--使用insert,update,delete,select标签写sql-->
    <resultMap id="BaseResultMap" type="org.javaboy.text.model.Product">
            <result column="productid" property="productid" jdbcType="INTEGER"/>
            <result column="productname" property="productname" jdbcType="VARCHAR"/>
            <result column="productimage" property="productimage" jdbcType="VARCHAR"/>
            <result column="productprice" property="productprice" jdbcType="DOUBLE"/>
            <result column="productcount" property="productcount" jdbcType="INTEGER"/>
    </resultMap>

    <select id="getAllProducts" resultMap="BaseResultMap">
        select * from product;
    </select>
</mapper>
